/** General */

/** Body */
body {
    max-width:1400px;
    margin: auto;
    text-align: center;
    background-color: #ff985c;
    color: #604637;
    padding: 0;
  
}

/** Header */
header {
    padding: 1rem;
    background-color: #ffde97;
    
}

/** Main */
main {
    padding: 3rem;
    background-color: white;
}
/** Encabezados */
h1,
h2 {
    font-family: 'Fascinate Inline';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 3rem;
    color: #eb5e0c;
    
}
h3{
    font-size:2.5rem ;
    color: #eb5e0c;
    font-family: "Fascinate";
    font-weight: 300;
}
h4{
    font-size: 2.2rem;
    color:#a42929 ;
    font-family: "Fascinate";
    font-weight: 300;
    text-align: start;
}


p {
    font-family: "Merriweather Sans";
    font-size: 2rem;
    line-height: 1.5;
    color: #a42929;
}

ol li {
    
    margin-left: 1rem;
    font-size: 1.4rem;
    font-family: "Merriweather Sans";
    line-height: 3rem;
    text-align: left;
    color: #c55302;
}


button {
    width: 100%;
    margin:1rem;
    border: rgb(218, 70, 1) solid;
    border-radius: .5em;
    padding:1rem;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    color: #c70101;
    background-color: white;
}

button:hover{
    background-color: #c70101;
    color: white;
}


/** Footer */
footer {
    padding: 1rem;
    background-color: #ffde97;
}

footer ul {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

footer ul li {
    font-family: 'Merriweather Sans';
    font-size: 1.4em;
    line-height: 1.5;
    text-align: center;
}

footer ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #c70101;
}

footer ul li a:hover {
    color: #ff0000;
}

#discos{
    display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}
.disco{
    background-color: wheat;
    padding: 2rem;
    border-radius: .5em;
}
.destacada{
    background-color: rgb(249, 255, 193);
}

@media screen and (min-width: 1100px) {

    /** Footer */
    footer ul {
        display: flex;
        padding: 0;
    }

    .botones1{
        display: flex;
    }
    .botones2{
        display: flex;
    }
    #discos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    p{
        text-align: start;
    }
    #contadorDiscos{
        text-align: center;
    }
}
